body {
  background: url("../images/mysteriumBackground.jpg") no-repeat top center;
  min-height: 1200px; }

a {
  text-decoration: none;
  color: white; }
  a:hover {
    color: #eecf00; }

#nav {
  font-family: "Courier New";
  font-size: 10pt;
  width: 950px;
  display: block;
  height: 50px;
  margin: 210px auto 0 auto; }
  #nav li {
    list-style: none; }
    #nav li a {
      float: left;
      margin: 0 20px; }

#mainContent {
  width: 800px;
  margin: 0 auto;
  /*background: white;*/ }

div {
  color: white; }

#rightContent {
  float: left;
  margin-top: 210px;
  margin-left: 50px;
  width: 550px; }

#essay {
  display: none;
  height: 500px;
  overflow: auto; }

#mainContent {
  font-family: "Courier New";
  font-size: 10pt; }
  #mainContent #rightContent #screenings {
    display: none;
    width: 550px;
    margin-left: 45px; }
    #mainContent #rightContent #screenings p {
      margin: 0px;
      /*line-height: 0ex;*/ }
    #mainContent #rightContent #screenings div {
      padding: 8px 0; }
    #mainContent #rightContent #screenings em {
      margin-left: 15px; }

#video {
  display: none; }

#distribution {
  display: none; }

#leftContent {
  float: left;
  width: 150px;
  margin-top: 275px;
  text-align: right; }

#chapterNav {
  list-style: none; }
  #chapterNav li {
    margin-top: 20px; }

.trans75 {
  opacity: .5; }
